<html>
    <body>
        <p style="color: red;">Hello Flask in ECS!</p>
        <hr>
        <ul>
            {% for req in reqs %}
                <li>{{req}}</li>
            {% endfor %}
        </ul>
        <hr>
        <img src="/static/6.jpg" alt="meinv" style="width: 200px;">
        <img src="/static/npm_icon.png" alt="aaa">
        <input type="text" id="txt1" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/static/getdate.js"></script>
    </body>
</html>